.loader-component {
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-gif {
  height: 200px;
  width: 200px;
  display: block;
}

@media ((min-width: 768px) and (max-width: 1183px)) {
  .loader-gif {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 768px) {
  .loader-gif {
    height: 80px;
    width: 80px;
  }
}
