.App {
  padding: unset;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.glass {
  background: hsla(0, 17%, 93%, 0.619);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid hsla(0, 4%, 21%, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.glass:hover {
  background: hsla(0, 17%, 93%, 0.119);
  border: 1px solid hsla(0, 4%, 21%, 0.1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
