:root {
  --add-to-card-btn-color: white;
}

.cake-directory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.new-product-title {
  margin: unset;
  font-weight: 900;
  color: rgb(91, 14, 14);
  font-size: 1.5rem;
  font-family: fantasy;
}

.cake-directory-logo-wrapper {
  padding-block: 1rem;
}

.cake-directory-logo {
  height: 60px;
  width: 60px;
}

.cake-directory-products {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.cake-product-wrapper {
  position: relative;
  width: 30%;
}

.cake-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 0.75rem;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.cake-product-wrapper:hover {
  --add-to-card-btn-color: hsla(0, 17%, 93%, 0.619);
}

.cake-image-wrapper {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 1rem;
  padding-top: 5px;
  overflow: hidden;
}

.cake-image {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.cake-title {
  margin: unset;
  margin-top: 1rem;
  font-weight: 800;
  color: rgb(91, 14, 14);
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.cake-price {
  margin: unset;
  margin-top: 1rem;
  margin-bottom: 1.75rem;
  font-weight: 800;
  color: rgb(228, 6, 6);
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.add-to-cart-btn {
  font-weight: 800;
  color: rgb(228, 6, 6);
  font-size: 0.95rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  border: 1px solid hsla(0, 4%, 21%, 0.2);
  bottom: -13px;
  padding: 2px 4px;
  border-radius: 0.25rem;
  background-color: var(--add-to-card-btn-color);
}

@media ((min-width: 768px) and (max-width: 1183px)) {
  .cake-directory-products {
    width: 85%;
  }

  .cake-product-wrapper {
    width: 45%;
  }
}

@media ((min-width: 481px) and (max-width: 768px)) {
  .cake-directory-products {
    width: 90%;
  }

  .cake-product-wrapper {
    width: 45%;
  }

  .cake-directory-container {
    margin-top: 11rem;
  }
  .add-to-cart-btn {
    font-size: 0.75rem;
    bottom: -10px;
  }
}

@media (max-width: 481px) {
  .cake-directory-products {
    width: 90%;
  }

  .cake-product-wrapper {
    width: 90%;
  }

  .cake-directory-container {
    margin-top: 12rem;
  }
}

@media (max-width: 347px) {
  .cake-directory-container {
    margin-top: 13rem;
  }
}
